

.square{
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.win-square{
    background-color: yellow;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}